/* @group Fonts */
@font-face {
  font-family: 'Open Sans' !important;
  font-style: normal !important;
  font-weight: 300 !important;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('https://themes.googleusercontent.com/static/fonts/opensans/v5/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff') format('woff') !important;
}
@font-face {
  font-family: 'Open Sans' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  src: local('Open Sans'), local('OpenSans'), url('https://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff') !important;
}
@font-face {
  font-family: 'Open Sans' !important;
  font-style: italic !important;
  font-weight: 400 !important;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('https://themes.googleusercontent.com/static/fonts/opensans/v5/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff') format('woff') !important;
}
@font-face {
  font-family: 'Open Sans' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('https://themes.googleusercontent.com/static/fonts/opensans/v5/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff') format('woff') !important;
}
@font-face {
  font-family: 'Open Sans' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('https://themes.googleusercontent.com/static/fonts/opensans/v5/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff') format('woff') !important;
}
/* @end */

/* @group Layout Fixes */
* {
  font-family: "open sans", "lucida grande", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
}

#gbx3, #gbzc {display:none !important;}

#gb .gbes#gbx1, #gb .gbes#gbx2, .gbesi#gb #gbx1, .gbesi#gb #gbx2, #gb .gbes#gbq,
#gb .gbes#gbu, .gbesi#gb #gbq, .gbesi#gb #gbu, #gbx1,
#gb #gbx1, #gbq, #gbu, #gb #gbq, #gb #gbu {
  top: 0 !important;
}

.qp { margin-bottom: -42px !important; }

.gbes#gb, .gbesi#gb, #gb { height: 45px !important; }

#gbx3, #gbx4 {
  background-color: transparent !important;
  border-bottom: 1px solid transparent !important;
}

#gbz .gbzt, #gbz .gbgt, #gbg .gbgt { color: #666 !important; }

.Z9 {
  position: relative !important;
  top: -7px !important;
}

.gbz0l .gbts { color: black !important; }

#gbz { display:none !important; }

.w-asV.aiw { height: 45px !important; }

#gbq1, .Z8 { display:none !important; }

.aki {
  position: relative !important;
  top: -46px !important;
  z-index: 9 !important;
}

.aic{
  position: absolute !important;
  top: -44px !important;
  z-index: 4 !important;
}

.MX, .AM {
  position: absolute !important;
  top: 2px !important;
  z-index: 4 !important;
}

.n3 {
  position: relative !important;
  top: 0px !important;
}

/*hiding user mood statuses */
.vG { display: none !important; }

/*hiding search button*/
#gbqfbw {display: none !important;}