<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Allen Bargi</string>
	<key>Builder Version</key>
	<string>7534.51.22</string>
	<key>CFBundleDisplayName</key>
	<string>Google Reader Lion UI</string>
	<key>CFBundleIdentifier</key>
	<string>com.aziz.googlereaderlionui</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
		<key>Stylesheets</key>
		<array>
			<string>greader.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://www.google.com/reader/view/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Inspired by Mac OS Lion</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://mariusth.channelwood.org/SafariExtensions/update.plist</string>
	<key>Website</key>
	<string>https://github.com/aziz/Google-Reader-Lion-UI</string>
</dict>
</plist>
