@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */
@-moz-document url-prefix("http://www.google.com/reader/view/"),url-prefix("https://www.google.com/reader/view/") {
/* ::::: scrollbar ::::: */
scrollbar *, * scrollbar, scrollbar { 
  background: none !important; 
}

scrollbar thumb[orient="vertical"], 
textbox scrollbar thumb[orient="vertical"] { 
  -moz-appearance: none !important; 
  min-height: 50px !important;
  border: none !important;
  max-width: 6px !important;
  -moz-border-radius: 16px !important; 
  background-image: -moz-linear-gradient(top,red,#666,black,black,#666,red) !important; 
}

scrollbar thumb[orient="horizontal"] { 
  -moz-appearance: none !important; 
  max-height: 6px !important;
  min-width: 30px !important;
  border: none !important; 
  -moz-border-radius: 16px !important; 
  background-image: -moz-linear-gradient(left,red,#666,black,black,#666,red) !important; 
}

scrollbar[orient="vertical"] { 
  -moz-appearance: none !important; 
  max-width: 10px !important; 
}

scrollbar[orient="horizontal"] { 
  -moz-appearance: none !important; 
  max-height: 10px !important; 
}

/* Arrows */
scrollbarbutton { 
  -moz-appearance: none !important;
  border: none !important;
  background: transparent !important; 
}

scrollcorner { 
  -moz-appearance: none !important;
  background: transparent !important; 
  width: 0 !important;
  height: 0 !important; 
}

/* hides til hovered */
scrollbar:not(:hover) { opacity: 0 !important; }

}

